html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  padding: none;
  margin: none;
  border: none;
  font: inherit;
  line-height: 1.5;
}

img {
  width: 100%;
}

ul, ol {
  list-style: none;

}
