<h1>New Sub-Topic</h1>

<form class="form" action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>

  <br>

  <label for="description">Description</label> <br>
  <textarea name="sub[description]" rows="8" cols="80" id="description"><%= @sub.description %></textarea>

  <input class="btn" type="submit" value="Create New Sub-Topic">
</form>
