// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.albums  {
  list-style: none;
}

.albums li {
  padding: 2px;
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center
}

.albums li a:hover {
  text-decoration: underline;
}

.albums li div {
  display: flex;
}
