// Place all the styles related to the Subs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index {
  // width: 80%;
  // display: flex;
  // flex-direction: row;
}

.index li {
  display: flex;
  width: 400px;
  border: 1px solid white;
  justify-content: space-between;
}

.index_page {
  margin: 0 auto;
}
